PORT = 8000
MONGODB_URI=mongodb+srv://basu:basu123@cluster0.lkzaswr.mongodb.net/?appName=Cluster0
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET = code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=ifazuh42
CLOUDINARY_API_KEY=639671265952511
CLOUDINARY_API_SECRET=XOjzeq542tR-mGo38eRUnct0Lpo

